<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link rel="import" href="../../polymer/polymer.html" />
    <link rel="import" href="../xenon-date.html" />
</head>
<body>
    <div>Plain date values like 3/20/2017 are parsed as local time by JS</div>
    <xenon-date value="3/20/2017"></xenon-date>
    <div>ISO date values like 2017-03-20 are parsed as UTC time by JS</div>
    <xenon-date value="2017-03-20"></xenon-date>
    <div>ISO date 2017-03-20T00:00:00</div>
    <xenon-date value="2017-03-20T00:00:00"></xenon-date>
    <div>ISO date with time output</div>
    <xenon-date show-time value="2017-03-20T00:00:00"></xenon-date>
    <div>ISO date with time output in UTC</div>
    <xenon-date show-time show-utc value="2017-03-20T00:00:00"></xenon-date>
</body>
</html>
