@{
    ViewData["Title"] = "Home Page";
}

<style>
    #messages .author:not(:empty):before {
        content: " - "
    }

    #messages .message:not(:empty):before {
        content: ": "
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">Mensajes</div>
    <div class="panel-body">
        <ul class="list-group" id="messages"></ul>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-2">
                <input type="text" class="form-control" id="author" placeholder="Nombre">
            </div>

            <div class="col-xs-10">
                <div class="input-group">

                    <input type="text" class="form-control" id="message" placeholder="Mensaje">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="send_button">Enviar</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span id="chat_error" class="help-block has-error"></span>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/lib/signalr/jquery.signalR.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).ready(function () {

            var chatHubProxy = $.connection.chatHub;
            chatHubProxy.client.addChatMessageToPage = function (name, message) {
                var $li = $("<li>")
                    .addClass("list-group-item")
                    .append(
                        $("<span>").addClass("date").text(),
                        $("<span>").addClass("author").text(name),
                        $("<span>").addClass("message").text(message)
                    ).appendTo("#messages");

            };
            $.connection.hub.start()
                .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function () { console.log('Could not Connect!'); });

            $("#send_button").on("click",
                function (e) {
                    e.preventDefault();
                    var name = $("#author").val();
                    var message = $("#message").val();
                    chatHubProxy.server.newMessage(name, message).done(function () {
                        console.log('Invocation of NewMessage succeeded');
                    }).fail(function (error) {
                        console.log('Invocation of NewMessage failed. Error: ' + error);
                    });
                });

        });
    </script>
}