
<link rel="import" href="rambler-chat-date.html" />
<link rel="import" href="../paper-listbox/paper-listbox.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />

<dom-module id="chat-message">
    <template>
        <style>
            .youtube {
                color: #ff0000;
            }

            .twitch {
                color: #6441a4;
            }

            paper-menu {
                padding: 0;
            }

            paper-item {
                min-height: auto;
            }

                paper-item:hover {
                    background-color: gainsboro;
                }

            #authorContext {
                position: absolute;
                z-index: 10;
                display: flex;
                color: dimgray;
                background-color: gainsboro;
                font-size: 12px;
            }

                #authorContext .action {
                    padding: 2px 5px;
                }

                    #authorContext .action:hover {
                        color: gainsboro;
                        background-color: dimgray;
                    }
        </style>

        <iron-ajax id="putAction"
                   handle-as="json"
                   content-type="application/json"
                   loading="{{loading}}"
                   method="PUT"
                   on-response="_onActionResponse"
                   on-error="_onActionError"
                   debounce-duration="300"></iron-ajax>

        <div class="row">
            <template is="dom-if" if="[[showDate]]">
                <div>{{item.displayDate}} {{item.displayTime}}</div>
            </template>
            <template is="dom-if" if="[[item.source]]">
                <i class$="[[_getIcon(item.source)]]" title="[[item.source]]"></i>
            </template>
            <div on-mouseover="_showContext" on-mouseout="_hideContext">
                <div class="author">{{item.author}}</div>
                <template is="dom-if" if="[[showAuthorContext]]">
                    <div id="authorContext">
                        <template is="dom-repeat" items="[[actions]]" restamp>
                            <div class="action" on-click="_authorAction">{{item}}</div>
                        </template>
                    </div>
                </template>
            </div>
            <div class="message">{{item.message}}</div>
        </div>

        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "chat-message",
            properties: {
                showDate: { type: Boolean, value: false },
                actions: { type: Array, notify: true, value: [] },
                showAuthorContext: { type: Boolean, notify: true, value: false },
                action: { type: String },
            },
            _getIcon: function (source) {
                return 'fab fa-' + source.toLowerCase() + ' ' + source.toLowerCase();
            },
            _showContext: function (e) {
                this.showAuthorContext = true;
                this.set("actions", ["Upvote", "Downvote", "Whitelist", "Ignore", "Blacklist", "Ban"]);
                console.log("selected author", this.item);
            },
            _hideContext: function (e) {
                this.showAuthorContext = false;
            },
            _authorAction: function (e) {
                this.action = e.model.item;
                this.$.putAction.url = "/api/author/" + this.item.authorId + "/" + e.model.item;
                this.$.putAction.generateRequest();
                this.showAuthorContext = false;
            },
            _onActionResponse: function (e) {
                this.$.toast.text = this.item.author + " " + this.action + " successful";
                this.$.toast.show();
            },
            _onActionError: function (e) {
                this.$.toast.text = this.item.author + " " + this.action + " failed";
                this.$.toast.show();
                console.log(e.detail.request.xhr.response);
            },
            ready: function () {
                var _this = this;
            }
        });
    </script>
</dom-module>
