
<link rel="import" href="rambler-chat-date.html" />
<link rel="import" href="../paper-listbox/paper-listbox.html" />

<dom-module id="chat-message">
    <template>
        <style>
            .youtube {
                color: #ff0000;
            }

            .twitch {
                color: #6441a4;
            }

            paper-menu {
                padding: 0;
            }

            paper-item {
                min-height: auto;
            }

                paper-item:hover {
                    background-color: gainsboro;
                }
        </style>

        <template is="dom-if" if="[[!hideRow]]">
            <div class="row">
                <template is="dom-if" if="[[showDate]]">
                    <div>{{item.displayDate}} {{item.displayTime}}</div>
                </template>
                <template is="dom-if" if="[[item.source]]">
                    <i class$="[[_getIcon(item.source)]]" title="[[item.source]]"></i>
                </template>
                <div class="author" on-click="_onAuthorClick">{{item.author}}</div>
                <div class="message">{{item.message}}</div>
            </div>
        </template>

    </template>
    <script>
        Polymer({
            is: "chat-message",
            properties: {
                author: { type: Object, value: {} },
                showDate: { type: Boolean, value: false },
                hideRow: { type: Boolean, notify: true, value: false },
                timeout: { type: Number, value: 30000 },
                actions: { type: Array }
            },
            _getIcon: function (source) {
                return 'fab fa-' + source.toLowerCase() + ' ' + source.toLowerCase();
            },
            _onAuthorClick: function (e) {
                //console.log(e.layerX, e.layerY);
                this.fire('author-click',
                    {
                        author: e.model.item,
                        x: e.layerX,
                        y: e.layerY
                    });
                //this.author = e.model.item;
            },
            ready: function () {
                var that = this;
            }
        });
    </script>
</dom-module>
