
<link rel="import" href="rambler-chat-date.html" />

<dom-module id="chat-message">
    <template>
        <style>
            .youtube {
                color: #ff0000;
            }

            .twitch {
                color: #6441a4;
            }
        </style>

        <template is="dom-if" if="[[!hideRow]]">
            <div class="row">
                <template is="dom-if" if="[[showDate]]">
                    <div>{{item.displayDate}} {{item.displayTime}}</div>
                </template>
                <template is="dom-if" if="[[item.source]]">
                    <i class$="[[_getIcon(item.source)]]" title="[[item.source]]"></i>
                </template>
                <div class="author">{{item.author}}</div>
                <div class="message">{{item.message}}</div>
            </div>
        </template>

    </template>
    <script>
        Polymer({
            is: "chat-message",
            properties: {
                item: { type: Object, value: {} },
                showDate: { type: Boolean, value: false },
                hideRow: { type: Boolean, notify: true, value: false },
                timeout: { type: Number, value: 30000 }
            },
            _getIcon: function (source) {
                return 'fab fa-' + source.toLowerCase() + ' ' + source.toLowerCase();
            },
            ready: function () {
                var that = this;

                if (this.timeout > 0) {
                    window.setTimeout(function () {
                        console.log("timeout");
                        that.set("hideRow", true)
                    }, that.timeout);
                }
            }
        });
    </script>
</dom-module>
