<script src="../../lib/moment.js/moment.js"></script>

<dom-module id="rambler-chat-date">
    <template>
        <div>[[displayDate]]</div>
    </template>
    <script>
        Polymer({
            is: "rambler-chat-date",
            properties: {
                value: { Type: Date, notify: true, value: [] },
                displayDate: { Type: String, notify: true },
                showYear: { Type: Boolean, value: false },
                showDate: { Type: Boolean, value: false },
            },
            observers: [
                "_onDateChanged(value)"
            ],
            _onDateChanged: function (date) {
                this._setDate(date);
            },
            _setDate: function (newDate) {
                var displayDate = "";
                if (this.showDate) {
                    displayDate += moment(newDate).utc().format('l');
                }
                displayDate += " " + moment(newDate).utc().format('h:mm');

                this.set("displayDate", displayDate);
            },
            ready: function () {
                if (!this.value || this.value == undefined) {
                    this.set("value", new Date());
                }
            }
        });
    </script>
</dom-module>
