<script src="../../lib/signalr/dist/browser/signalr.js"></script>

<link rel="import" href="../paper-toast/paper-toast.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="chat-message.html" />

<dom-module id="rambler-chat">
    <template>
        <iron-ajax auto id="ajax"
                   url="/api/chat?maxItems=[[maxLines]]"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{messages}}"></iron-ajax>

        <div class="chat">
            <template is="dom-repeat" items="{{messages}}" restamp>
                <template is="dom-if" if="[[showDate]]">
                    <chat-message item="{{item}}" show-date timeout="[[timeout]]" show-speaker="[[speakEnabled]]" on-click="_onChatClick"></chat-message>
                </template>
                <template is="dom-if" if="[[!showDate]]">
                    <chat-message item="{{item}}" timeout="[[timeout]]" show-speaker="[[speakEnabled]]" on-click="_onChatClick"></chat-message>
                </template>
            </template>
            <div id="anchor"></div>
        </div>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "rambler-chat",
                properties: {
                    messages: { type: Array, notify: true, value: [] },
                    connection: { type: Object, value: {} },
                    channel: { type: String, value: "All" },
                    showDate: { type: Boolean, value: false },
                    voiceName: { type: String },
                    voice: { type: Object },
                    rate: { type: Number, value: 1.0 },
                    pitch: { type: Number, value: 1.0 },
                    speechSynthesis: { type: Object },
                    speakEnabled: { type: Boolean, value: false },
                    maxLines: { type: Number, value: 10 }
                },
                _onMessageReceived: function (message) {
                    if (!message) return;

                    console.log(message, this.maxLines);
                    this.push("messages", message);
                    if (this.messages.length > this.maxLines) {
                        this.shift("messages");
                    }
                    this.fire("messageReceived");
                },
                _speak: function (message) {
                    console.log("speak");

                    //console.log("voice", this.voice);
                    //if (this.voice === undefined) {
                    //    this.voice = this._getVoiceByName("Microsoft Helena Desktop - Spanish (Spain)");
                    //}
                    //console.log("voice", this.voice);
                    //if (this.voice === undefined) {
                    //    return;
                    //}

                    if (speechSynthesis.speaking) {
                        console.log("speechSynthesis.speaking", speechSynthesis.speaking);
                    }

                    if (message !== '') {
                        var utterThis = new SpeechSynthesisUtterance(message);
                        utterThis.onend = function (event) {
                            console.log('SpeechSynthesisUtterance.onend');
                        }
                        utterThis.onerror = function (event) {
                            console.error('SpeechSynthesisUtterance.onerror', event);
                        }

                        if (this.voice !== undefined) {
                            utterThis.voice = this.voice;
                        }
                        utterThis.pitch = this.pitch;
                        utterThis.rate = this.rate;
                        speechSynthesis.speak(utterThis);
                    }
                },
                _getVoiceByName: function (name) {
                    var voices = [];
                    voices = window.speechSynthesis.getVoices();
                    console.log("voices", voices.length);

                    for (i = 0; i < voices.length; i++) {
                        console.log("voices[i].name", voices[i].name);
                        if (voices[i].name === name) {
                            console.log("returning voice", voices[i]);
                            return voices[i];
                        }
                    }
                },
                _onVoicesChanged: function () {
                    console.log("_onVoicesChanged");
                    if (this.speechSynthesis === undefined) {
                        return;
                    }
                    this.voice = this._getVoiceByName("Microsoft Helena Desktop - Spanish (Spain)");
                },
                _onChatClick: function (e) {
                    //console.log(e);
                    if (this.speakEnabled) {
                        this._speak(e.model.item.message);
                    }
                },
                ready: function () {
                    var _this = this;
                    this.connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                    this.connection.on("ReceiveChannelMessage",
                        function (message) {
                            console.log("ReceiveChannelMessage", message);
                            if (message.channel == _this.channel) {
                                _this._onMessageReceived(message.chatMessage);
                            }
                            if (_this.speakEnabled && message.channel === "TTS") {
                                _this._speak(message.chatMessage.message);
                            }

                        });

                    this.connection.start().catch(function (err) {
                        return console.error(err.toString());
                    });

                    this.speechSynthesis = window.speechSynthesis;
                    if (this.speechSynthesis.onvoiceschanged !== undefined) {
                        this.speechSynthesis.onvoiceschanged = this._onVoicesChanged;
                    }
                }
            });
        });
    </script>
</dom-module>
