<script src="../../lib/signalr/dist/browser/signalr.js"></script>

<link rel="import" href="../paper-toast/paper-toast.html" />
<link rel="import" href="../xenon-date/xenon-date.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="rambler-chat-date.html" />

<dom-module id="rambler-chat">
    <template>
        <style>
            .youtube {
                color: #ff0000;
            }

            .twitch {
                color: #6441a4;
            }
        </style>
        <iron-ajax auto id="ajax"
                   url="/api/chat"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{messages}}"></iron-ajax>

        <div class="chat">
            <template is="dom-repeat" items="{{messages}}" restamp>
                <div class="row">
                    <template is="dom-if" if="[[showDate]]">
                        <div>{{item.displayDate}} {{item.displayTime}}</div>
                    </template>
                    <template is="dom-if" if="[[item.source]]">
                        <i class$="[[getIcon(item.source)]]" title="[[item.source]]"></i>
                    </template>
                    <div class="author">{{item.author}}</div>
                    <div class="message">{{item.message}}</div>
                </div>
            </template>
        </div>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "rambler-chat",
            properties: {
                messages: { Type: Array, notify: true, value: [] },
                connection: { Type: Object, value: {} },
                showDate: { Type: Boolean, value: true },
            },
            _onMessageReceived: function (message) {
                if (!message) return;
                this.push("messages", message);
                if (this.messages.length > 10) {
                    this.shift("messages");
                }
            },
            getIcon: function (source) {
                return 'fab fa-' + source.toLowerCase() + ' ' + source.toLowerCase();
            },
            ready: function () {
                var that = this;
                this.connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                this.connection.on("ReceiveMessage", function (message) {
                    that._onMessageReceived(message);
                });

                this.connection.start().catch(function (err) {
                    return console.error(err.toString());
                });
            }
        });
    </script>
</dom-module>
