<script src="../../lib/moment.js/moment.js"></script>

<dom-module id="rambler-chat-date">
    <template>
        <div>[[displayDate]]</div>
    </template>
    <script>
        Polymer({
            is: "rambler-chat-date",
            properties: {
                value: { type: Date, notify: true, value: [] },
                displayDate: { type: String, notify: true },
                format: { type: String },
            },
            observers: [
                "_onDateChanged(value)"
            ],
            _onDateChanged: function (date) {
                this._setDate(date);
            },
            _setDate: function (newDate) {
                if (this.format && !this.smartDate) {
                    this.set("displayDate", moment(newDate).utc().format(this.format));
                    return;
                }

                this.set("displayDate", moment(newDate).format("l LT"));
            },
            ready: function () {
                if (!this.value || this.value == undefined) {
                    this.set("value", new Date());
                }
            }
        });
    </script>
</dom-module>
