<script src="../../lib/moment.js/moment.js"></script>

<dom-module id="rambler-chat-date">
    <template>
        <div>[[displayDate]]</div>
    </template>
    <script>
        Polymer({
            is: "rambler-chat-date",
            properties: {
                value: { Type: Date, notify: true, value: [] },
                displayDate: { Type: String, notify: true },
                showYear: { Type: Boolean, value: false },
                showDate: { Type: Boolean, value: false },
                format: { Type: String },
                smartDate: { Type: Boolean, value: true }
            },
            observers: [
                "_onDateChanged(value)"
            ],
            _onDateChanged: function (date) {
                this._setDate(date);
            },
            _setDate: function (newDate) {
                if (this.showdate == undefined) this.showDate = false;
                if (this.smartDate == undefined) this.smartDate = true;

                if (this.format && !this.smartDate) {
                    this.set("displayDate", moment(newDate).utc().format(this.format));
                    return;
                }

                var displayDate = "";
                var over12Hours = (this.smartDate && moment(new Date()).diff(newDate, 'hours') > 12);
                var showDate = this.showDate || over12Hours;
                if (showDate) {
                    displayDate += moment(newDate).utc().format('l');
                }

                if (moment.locale() === 'en') {
                    displayDate += " " + moment(newDate).utc().format('h:mm');
                    if (over12Hours) {
                        displayDate += " " + moment(newDate).utc().format('a');
                    }
                } else {
                    displayDate += " " + moment(newDate).utc().format('H:mm');
                }


                this.set("displayDate", displayDate);
            },
            ready: function () {
                if (!this.value || this.value == undefined) {
                    this.set("value", new Date());
                }
            }
        });
    </script>
</dom-module>
