<script src="../../lib/signalr/dist/browser/signalr.js"></script>

<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/iron-form/iron-form.html" />
<link rel="import" href="/components/paper-input/paper-input.html" />
<link rel="import" href="/components/paper-button/paper-button.html" />

<dom-module id="rambler-chat-send">

    <template>
        <form id="form" is="iron-form">
            <div class="sendrow">
                <paper-input style="flex: 1 1 0;" label="Message" value="{{message.message}}"></paper-input>
                <div id="button">
                    <paper-button raised noink on-click="_send">Send</paper-button>
                </div>
            </div>
        </form>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "rambler-chat-send",
                properties: {
                    message: { Type: Object, value: {} },
                    connection: { Type: Object }
                },
                _send: function () {
                    this.connection.invoke("SendMessage", "", this.message.message)
                        .catch(function (err) {
                            console.log("error", err);
                            return console.error(err.toString());
                        });
                },
                ready: function () {
                    var _this = this;
                    this.connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                    this.connection.on("ReceiveMessage",
                        function (message) {
                            console.log("ReceiveMessage", message);
                            _this._onMessageReceived(author, message);
                        });

                    this.connection.start().catch(function (err) {
                        return console.error(err.toString());
                    });
                }
            });
        });
    </script>
</dom-module>
