<script src="../../lib/signalr/dist/browser/signalr.js"></script>

<link rel="import" href="../paper-toast/paper-toast.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="chat-message.html" />

<dom-module id="rambler-chat">
    <template>
        <style>
            .authorContext {
                z-index: 10;
                position: absolute;
                display: block;
                color: black;
                background-color: whitesmoke;
                list-style-type: none;
                list-style: none;
                margin: 0;
                padding: 5px;
            }

            .authorContext li:hover {
                background-color: gainsboro;
            }
        </style>
        <iron-ajax auto id="ajax" url="/api/chat?maxItems=[[maxLines]]" handle-as="json" loading="{{loading}}"
            last-response="{{messages}}" on-response="_onAjaxResponse"></iron-ajax>

        <div class="chat" id="chat">
            <template is="dom-repeat" items="{{messages}}" restamp on-dom-change="_chatChanged">
                <template is="dom-if" if="[[showDate]]">
                    <chat-message item="{{item}}" show-date timeout="[[timeout]]" on-click="_onChatClick">
                    </chat-message>
                </template>
                <template is="dom-if" if="[[!showDate]]">
                    <chat-message item="{{item}}" timeout="[[timeout]]" on-click="_onChatClick"></chat-message>
                </template>
            </template>
        </div>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        HTMLImports.whenReady(function () {
            Polymer({
                is: "rambler-chat",
                properties: {
                    messages: { type: Array, notify: true, value: [] },
                    connection: { type: Object, value: {} },
                    channel: { type: String, value: "All" },
                    showDate: { type: Boolean, value: false },
                    maxLines: { type: Number, value: 10 },
                    showAuthorContext: { type: Boolean, notify: true, value: false },
                    actions: { type: Array },
                    timeout: { type: Number, value: 10000 }
                },

                _onMessageReceived: function (message) {
                    if (!message) return;

                    this.push("messages", message);
                    if (this.maxLines > 0 && this.messages.length > this.maxLines) {
                        this.shift("messages");
                    }

                    this.fire("messageReceived");
                },
                _onChatClick: function (e) {
                    if (this.speakEnabled) {
                        this._speak(e.model.item.message);
                    }
                },
                _onActionError: function (e) {
                    console.log(e.detail.request.xhr.response);
                },
                _onAjaxResponse: function (e) {
                    this._chatChanged();
                },
                _chatChanged: function () {
                    this.fire("chatChanged");
                },
                ready: function () {
                    var _this = this;

                    if (this.maxLines === undefined || this.maxLines === 0) {
                        this.maxLines = 10;
                    }

                    this.connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

                    this.connection.on("ReceiveChannelMessage",
                        function (message) {
                            console.log("ReceiveChannelMessage", message, _this.channel);
                            if (message.channel === _this.channel) {
                                _this._onMessageReceived(message.chatMessage);
                            }
                        });

                    this.connection.start().catch(function (err) {
                        return console.error(err.toString());
                    });

                    this.set("actions", ["Upvote", "Downvote", "Whitelist", "Ignore", "Blacklist", "Ban"])

                    if (this.timeout > 0) {
                        setInterval(
                            function () {
                                _this.splice('messages', 0, 1);
                            }, _this.timeout);
                    }
                }
            });
        });
    </script>
</dom-module>