<script src="../../lib/signalr/dist/browser/signalr.js"></script>

<link rel="import" href="../paper-toast/paper-toast.html" />
<link rel="import" href="../xenon-date/xenon-date.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="../paper-button/paper-button.html" />
<link rel="import" href="rambler-chat-date.html" />

<dom-module id="rambler-api-status">
    <template>
        <iron-ajax auto id="ajax"
                   url="/api/dashboard/apiStatus"
                   handle-as="json"
                   last-response="{{items}}"></iron-ajax>

        <table class="table table-borderless table-striped">
            <template is="dom-repeat" items="{{items}}" restamp>
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <rambler-chat-date value="{{item.updateDate}}" show-time></rambler-chat-date>
                    </td>
                    <td><paper-button class="primary" on-click="_sendTest">Test</paper-button></td>
                </tr>
            </template>
        </table>

        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "rambler-api-status",
            properties: {
                items: { type: Array, notify: true, value: [] },
                connection: { type: Object, value: {} }
            },
            _sendTest: function (e) {
                console.log(e.model.item);
                this.connection.invoke("UpdateStatus", e.model.item.name, "TEST")
                    .catch(function (err) {
                        return console.error(err.toString());
                    });
            },
            ready: function () {
                var _this = this;
                this.connection = new signalR.HubConnectionBuilder().withUrl("/dashboardHub").build();

                this.connection.on("updateStatus", function (statuses) {
                    _this.items = [];
                    _this.set("items", statuses);
                });

                this.connection.start().catch(function (err) {
                    return console.error(err.toString());
                });

                var retries = 0;
                async function start() {
                    try {
                        await _this.connection.start();
                        console.log("connected");
                    } catch (err) {
                        console.log(err);
                        if (retries < 5) {
                            retries += 1;
                            setTimeout(() => start(), 5000);
                        }
                    }
                };

                _this.connection.onclose(async () => {
                    await start();
                });
            }
        });
    </script>
</dom-module>
