<link rel="import" href="../xenon-header.html" />
<link rel="import" href="../xenon-field-group.html" />
<link rel="import" href="../xenon-field.html" />
<link rel="import" href="../../xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="../../paper-card/paper-card.html" />
<link rel="import" href="../../paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../../paper-card/paper-card.html" />
<link rel="import" href="../../iron-icon/iron-icon.html" />
<link rel="import" href="../../iron-icons/iron-icons.html" />

<xenon-photo-card heading="information">
    <main>
        <xenon-header heading="Basic Details">
            <actions>
                <paper-icon-button icon="settings" title="settings"></paper-icon-button>
                <paper-icon-button icon="list" title="list"></paper-icon-button>
                <spacer></spacer>
                <paper-icon-button icon="archive" title="archive"></paper-icon-button>
            </actions>
        </xenon-header>
        <xenon-field-group>
            <xenon-field label="Plan Type"></xenon-field>
            <xenon-field label="PlanSubType"> </xenon-field>
            <xenon-field label="PlanName"> </xenon-field>
            <xenon-field label="CarrierName"> </xenon-field>
            <xenon-field label="External Source ID">  </xenon-field>
            <xenon-field label="Provider URL"></xenon-field>
            <xenon-field label="CatastrophicLimit"></xenon-field>
        </xenon-field-group>
        <xenon-header heading="Extra Info">

        </xenon-header>
        <p>
            Welcome to Geek Notes. This is your software for managing all of your sales prospects and current customers.
             You can also easily quote all of our life insurance plans from here. Let's get started.
        </p>
        <xenon-field-group>
            <xenon-field label="Plan Type"></xenon-field>
            <xenon-field label="PlanSubType"> </xenon-field>
            <xenon-field label="PlanName"> </xenon-field>
            <xenon-field label="CarrierName"> </xenon-field>
            <xenon-field label="External Source ID">  </xenon-field>
            <xenon-field label="Provider URL"></xenon-field>
            <xenon-field label="CatastrophicLimit"></xenon-field>
        </xenon-field-group>
        <xenon-header heading="Extra Info">

        </xenon-header>
        <p>
            Welcome to Geek Notes. This is your software for managing all of your sales prospects and current customers.
            You can also easily quote all of our life insurance plans from here. Let's get started.
        </p>
    </main>
</xenon-photo-card>
    
   

