@{
    ViewData["Title"] = "Authors";
}

<link rel="import" href="~/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="~/components/paper-toast/paper-toast.html" />
<link rel="import" href="~/components/iron-ajax/iron-ajax.html" />
<link rel="import" href="~/components/rambler-components/rambler-integrations.html" />
<link rel="import" href="~/components/iron-icons/editor-icons.html" />
<link rel="import" href="~/components/xenon-layout/xenon-dialog.html" />

<dom-module id="page-module">
    <template>
        <style is="custom-style">
            paper-icon-button {
                padding: 0;
                width: 20px;
                height: 20px;
            }
        </style>
        <iron-ajax id="ajax"
                   auto
                   url="/api/author"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{items}}"
                   debounce-duration="300">
        </iron-ajax>

        <xenon-photo-card heading="Chat Authors">
            <main>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Source</th>
                            <th>Source Id</th>
                            <th>Username</th>
                            <th>Points</th>
                            <th>Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{items}}">
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.source}}</td>
                                <td>{{item.sourceAuthorId}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.points}}</td>
                                <td>{{item.score}}</td>
                                <td><paper-icon-button icon="editor:mode-edit" on-click="_openEditor"></paper-icon-button></td>
                            </tr>
                        </template>
                    </tbody>

                </table>
            </main>
        </xenon-photo-card>

        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    addEventListener('WebComponentsReady', function() {

        Polymer({
            is: "page-module",
            properties: {
            },
            ready: function () {
            }
        });
        })
    </script>
</dom-module>

<page-module></page-module>