
@{
    ViewData["Title"] = "Index";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/iron-ajax/iron-ajax.html" />

<dom-module id="page-module">
    <template>
        <iron-ajax id="ajax"
                   auto
                   url="/api/user/token"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{tokens}}"
                   debounce-duration="300"></iron-ajax>
        <iron-ajax id="deleteAjax"
                   handle-as="json"
                   loading="{{loading}}"
                   method="DELETE"
                   on-response="_onDelete"
                   on-error="_onError"
                   debounce-duration="300"></iron-ajax>

        <xenon-photo-card heading="@ViewData["Title"]">
            <main>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Source</th>
                            <th>Type</th>
                            <th>Expires In</th>
                            <th>Expiration Date</th>
                            <th>Status</th>
                            <th>Refresh Token?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{tokens}}">
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.apiSource}}</td>
                                <td>{{item.token_type}}</td>
                                <td>{{item.expires_in}}</td>
                                <td>[[_toLocalDate(item.expirationDate)]]</td>
                                <td>{{item.status}}</td>
                                <td>{{item.hasRefreshToken}}</td>
                                <td><i class="fa fa-trash" on-click="_delete"></i> </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </main>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        addEventListener('WebComponentsReady', function () {

            Polymer({
                is: "page-module",
                properties: {
                },
                observers: [
                ],
                _delete: function (e) {
                    console.log("delete", e.model.item.id);

                    this.$.deleteAjax.url = "/api/user/token/" + e.model.item.id;
                    this.$.deleteAjax.generateRequest();
                },
                _onDelete: function (e) {
                    this.$.ajax.generateRequest();
                },
                _onError: function (e) {
                    console.log(e);
                },
                _toLocalDate: function (date) {
                    var options = { dateStyle: 'short', timeStyle: 'medium', timeZoneName: 'short' };
                    return new Date(date).toLocaleDateString('en-US', options);
                },
                ready: function () {
                }
            });
        })
    </script>
</dom-module>

<page-module></page-module>

