
@{
    ViewData["Title"] = "User oAuth tokens";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/iron-ajax/iron-ajax.html" />

<dom-module id="page-module">
    <template>
        <iron-ajax id="ajax"
                   auto
                   url="/api/user/token"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{tokens}}"
                   debounce-duration="300"></iron-ajax>

        <xenon-photo-card heading="@ViewData["Title"]">
            <main>
                <div class="row">
                    <a href="@Url.Action("Index")" tabindex="-1">
                        <paper-button>Users</paper-button>
                    </a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Source</th>
                            <th>Type</th>
                            <th>Expiration Date</th>
                            <th>Status</th>
                            <th>Refresh Token?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="{{tokens}}">
                            <tr>
                                <td>{{item.user.userName}}</td>
                                <td>{{item.apiSource}}</td>
                                <td>{{item.token_type}}</td>
                                <td>{{item.expirationDate}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.hasRefreshToken}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </main>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "page-module",
            properties: {
            },
            observers: [
            ],
            ready: function () {
            }
        });
    </script>
</dom-module>

<page-module></page-module>

