@model User

@{
    ViewBag.Title = "Change Password";
    Layout = "_Login";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/iron-form/iron-form.html" />
<link rel="import" href="/components/paper-input/paper-input.html" />
<link rel="import" href="/components/paper-button/paper-button.html" />

<dom-module id="page-module">
    <template>

        <iron-ajax id="ajax"
                   url="/api/account/@Model.Id/password"
                   handle-as="json"
                   content-type="application/json"
                   loading="{{loading}}"
                   method="PUT"
                   on-response="_onUpdate"
                   on-error="_onUpdateError"
                   debounce-duration="300"></iron-ajax>

        <xenon-photo-card heading="@ViewData["Title"]">
            <main>
                <form id="form" is="iron-form">
                    <paper-input label="Old Password" type="password" value="{{user.oldPassword}}" required></paper-input>
                    <paper-input label="New Password" type="password" value="{{user.password}}" required></paper-input>
                    <paper-input label="Confirm Password" type="password" value="{{user.confirmPassword}}" required></paper-input>
                </form>
            </main>
            <buttons>
                <paper-button class="btn btn-primary" on-click="_save">Change Password</paper-button>
            </buttons>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    addEventListener('WebComponentsReady', function() {

        Polymer({
            is: "page-module",
            properties: {
                user: { Type: Object, notify: true, value: {} },
                returnUrl: { Type: String, value: "@ViewData["returnUrl"]" }
            },
            observers: [
            ],
            _save: function () {
                if (!this.$.form.validate()) {
                    return;
                }

                console.log(this.user);
                this.$.ajax.body = JSON.stringify(this.user);
                this.$.ajax.generateRequest();
            },
            _onUpdate: function () {
                if (this.returnUrl) {
                    window.location.href = this.returnUrl;
                }
                window.location.href = "/";
            },
            _onUpdateError: function (e) {
                this.$.toast.text = e.detail.error;
                this.$.toast.open();
            },
            ready: function () {
            }
            });
    })

    </script>
</dom-module>

<page-module></page-module>
