
@{
    ViewBag.Title = "Rambler Login";
    Layout = "_Login";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/iron-form/iron-form.html" />
<link rel="import" href="/components/paper-input/paper-input.html" />
<link rel="import" href="/components/paper-button/paper-button.html" />

<dom-module id="page-module">
    <template>

        <iron-ajax id="ajax"
                   url="/api/account/login"
                   handle-as="json"
                   content-type="application/json"
                   loading="{{loading}}"
                   method="POST"
                   on-response="_onLogin"
                   on-error="_onLoginError"
                   debounce-duration="300"></iron-ajax>
        
        <iron-ajax id="getIntegration"
                   auto
                   url="/api/integration"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{integrations}}"
                   debounce-duration="300">
        </iron-ajax>

        <xenon-photo-card heading="@ViewData["Title"]">
            <main>
                <form id="form" is="iron-form">
                    <paper-input label="Username" value="{{user.userName}}"></paper-input>
                    <paper-input label="Password" type="password" value="{{user.password}}"></paper-input>
                </form>
                <div class="text-danger" hidden$="!error">[[error]]</div>
            </main>
            <buttons>
                <paper-button class="btn btn-primary" on-click="_login">Login</paper-button>
                <template is="dom-repeat" items="{{integrations}}" restamp>
                    <paper-button class="btn" on-click="_integrationLogin" hidden$="[[!item.isEnabled]]">Login with [[item.name]]</paper-button>
                </template>
            </buttons>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
    addEventListener('WebComponentsReady', function() {
        Polymer({
            is: "page-module",
            properties: {
                user: { Type: Object, notify: true, value: {} },
                returnUrl: { Type: String, value: "" },
                error: { Type: String, notify: true, value: "" }
            },
            observers: [
            ],
            _login: function () {
                this.set("error", "");
                this.$.ajax.body = JSON.stringify(this.user);
                this.$.ajax.generateRequest();
            },
            _onLogin: function () {
                window.location.href = "/account/loggedin?returnUrl=@ViewData["returnUrl"]";
            },
            _integrationLogin: function(e) {
                window.location.href = "/" + e.model.item.name + "/login";
            },
            _onLoginError: function (e) {
                var message = e.detail.error;
                if (e.detail.request.xhr.response) {
                    message = e.detail.request.xhr.response;
                }
                this.set("error", message);
                this.$.toast.text = message;
                this.$.toast.open();
            },
            ready: function () {
            }
            });
    })
    </script>
</dom-module>

<page-module></page-module>
