
@{
    ViewBag.Title = "Logged out";
    Layout = "_Login";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />

<xenon-photo-card heading="@ViewData["Title"]">
    <main>
        <p>You have been logged out.</p>
    </main>
    <buttons>
        <a href="~/account/login" tabindex="-1">
            <paper-button class="btn btn-primary">Login</paper-button>
        </a>
    </buttons>
</xenon-photo-card>
