
@{
    ViewBag.Title = "Logged out";
    Layout = "_Login";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />

<xenon-photo-card heading="@ViewData["Title"]">
    <main>
        <p>You have been logged out.</p>
        <a href="@Url.Action("Login", "Account")" tabindex="-1" target="_blank">
            <paper-button>Login</paper-button>
        </a>
    </main>
</xenon-photo-card>
