@model Rambler.Models.User

<br/>
<br/>

<div class="row">WIN! :-)</div>
<div class="row">Google access token expires on @Model.GoogleToken.ExpirationDate</div>

<p>@Html.ActionLink("Broadcast Details","Broadcast")</p>