@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

@section Styles{
    <style>
        #chat {
            background-color: black;
            flex: 1;
            height: 45vh;
            max-height: 45vh;
            overflow-y: scroll;
        }

        #sender {
            max-height: 80px;
        }
    </style>
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/xenon-layout/xenon-header.html" />
<link rel="import" href="/components/rambler-components/rambler-chat.html" />
<link rel="import" href="/components/rambler-components/rambler-api-status.html" />
<link rel="import" href="/components/rambler-components/rambler-integrations.html" />
<link rel="import" href="/components/rambler-components/rambler-chat-send.html" />
<link rel="import" href="/components/rambler-components/rambler-chat-tts.html" />

<dom-module id="page-module">
    <template>

        <style is="custom-style">
            .row > xenon-photo-card {
                flex: 1 1 0;
            }

            .xenon-photo-card actions a {
                text-decoration: none;
            }
        </style>

        <div>
            <div class="row">
                <xenon-photo-card heading="Integrations">
                    <main>
                        <div>
                            <rambler-integrations></rambler-integrations>
                        </div>
                    </main>
                </xenon-photo-card>
                <xenon-photo-card heading="API Status">
                    <main>
                        <div>
                            <rambler-api-status></rambler-api-status>
                        </div>
                    </main>
                </xenon-photo-card>
            </div>
            <xenon-photo-card heading="TTS">
                <main>
                    <rambler-chat-tts></rambler-chat-tts>
                </main>
            </xenon-photo-card>
            <xenon-photo-card heading="Chatbox">
                <actions>
                    <paper-button on-click="_openReader">Reader</paper-button>
                    <a href="@Url.Action("Chatbox", "Chat")" tabindex="-1" target="_blank">
                        <paper-button>OBS</paper-button>
                    </a>
                </actions>
                <main>
                    <rambler-chat id="ramblerChat" show-date timeout="0" speak-enabled="[[speakEnabled]]"></rambler-chat>
                    <rambler-chat-send id="sender"></rambler-chat-send>
                </main>
            </xenon-photo-card>
        </div>

    </template>
    <script>
        addEventListener('WebComponentsReady',
            function() {

                Polymer({
                    is: "page-module",
                    properties: {
                        speakEnabled: { type: Boolean, notify: true, value: false }
                    },
                    listeners: {
                        "chatChanged": '_onChatChanged'
                    },
                    _openReader: function() {
                        window.open("@Url.Action("Reader", "Chat")",
                            "Rambler reader",
                            "innerWidth=640,innerHeight=540,menubar=0,toolbar=1,location=1,resizable=yes,scrollbars=yes,status=yes");
                    },
                    _onChatChanged: function () {
                        window.setTimeout(() => {
                            console.log('height', document.documentElement.scrollHeight);
                            var element = document.getElementById("chat");
                            element.scrollTop = element.scrollHeight;
                            console.log('chat height', element.scrollTop, element.scrollHeight);
                        }, 1000);
                    }
                });
            })
    </script>
</dom-module>

<page-module></page-module>