@{
    ViewData["Title"] = "Home Page";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/rambler-components/rambler-chat.html" />

<xenon-photo-card heading="@ViewData["Title"]">
    <main>
        <div style="background-color: black;">
            <rambler-chat></rambler-chat>
        </div>
    </main>
</xenon-photo-card>
