@{
    ViewData["Title"] = "Home Page";
    Layout = "_Empty";
}

@section Styles{
<style>
        #container {
            background-color: black;
        }
</style>
}

<link rel="import" href="/components/rambler-components/rambler-chat.html" />

<div id="container">
    <rambler-chat channel="Reader" show-date timeout="0" speak-enabled></rambler-chat>
</div>
