@{
    ViewData["Title"] = "Reader";
    Layout = "_Empty";
}

@section Styles{
    <style>

        #container {
            display: flex;
            flex-flow: column;
            height: 95vh;
        }

        #chat {
            background-color: black;
            flex: 1;
            max-height: 80vh;
            overflow-y: scroll;
        }

        #sender {
            max-height: 80px;
        }
    </style>
}

<link rel="import" href="/components/rambler-components/rambler-chat.html" />
<link rel="import" href="/components/rambler-components/rambler-chat-send.html" />

<dom-module id="page-module">
    <template>
        <div id="container">
            <rambler-chat id="readerChat" channel="Reader" show-date timeout="0" max-lines="20" speak-enabled></rambler-chat>
            <rambler-chat-send id="sender"></rambler-chat-send>
        </div>
    </template>
    <script>
        addEventListener('WebComponentsReady',
            function () {

                Polymer({
                    is: "page-module",
                    properties: {
                    },
                    listeners: {
                        "chatChanged": '_onMessageReceived'
                    },
                    _onMessageReceived: function () {
                        this._onChatChanged();
                    },
                    _onChatChanged: function () {
                        window.setTimeout(() => {
                            //console.log('height', document.documentElement.scrollHeight);
                            var element = document.getElementById("chat");
                            element.scrollTop = element.scrollHeight;
                            //console.log('chat height', element.scrollTop, element.scrollHeight);
                        }, 1000);
                    }
                });

            })
    </script>
</dom-module>

<page-module></page-module>