@model Rambler.Web.Models.Youtube.LiveChat.LiveChatMessageList

<br />
<br />

<ul>
    @foreach (var item in Model.items)
    {
        <li>@item.snippet.publishedAt: @item.snippet.displayMessage</li>
    }
</ul>

