
body {
    margin: 0px;
    font-family: "Roboto", Arial, Helvetica, sans-serif
}

.primary {
    background-color: #3e5b43;
    color: white;
}

.chat {
    background-color: black;
    color: #FAFAFA;
    padding: 10px;
}

    .chat .row > * {
        padding-right: 10px;
    }

    .chat .author {
        font-weight: bold;
        color: #8A2BE2;
    }

    .chat .message {
        flex: 1 1 0;
        overflow: visible;
    }
