@model ulong


@{
    ViewData["Title"] = "Channels";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />
<link rel="import" href="/components/paper-button/paper-button.html" />
<link rel="import" href="/components/iron-ajax/iron-ajax.html" />

<dom-module id="page-module">
    <template>
        <iron-ajax id="ajax"
                   auto
                   url="/api/discord/guild/@Model/textChannel"
                   handle-as="json"
                   loading="{{loading}}"
                   last-response="{{channels}}"
                   debounce-duration="300"></iron-ajax>


        <iron-ajax id="putSetting"
                   handle-as="json"
                   content-type="application/json"
                   loading="{{loading}}"
                   method="PUT"
                   on-response="_onUpdate"
                   on-error="_onError"
                   debounce-duration="300">
        </iron-ajax>

        <xenon-photo-card heading="@ViewData["Title"]">
            <main>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Topic</th>
                            <th>NSFW?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template is="dom-repeat" items="[[channels]]">
                            <tr>
                                <td>{{item.position}}</td>
                                <td><a href="/Discord/Details/{{item.id}}">{{item.name}}</a></td>
                                <td>{{item.topic}}</td>
                                <td>{{item.isNsfw}}</td>
                                <td>
                                    <paper-icon-button icon="icons:check" on-click="_makeDefault" hidden$="[[item.isActive]]"></paper-icon-button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </main>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        addEventListener('WebComponentsReady', function () {

            Polymer({
                is: "page-module",
                properties: {

                },
                observers: [
                ],
                _makeDefault: function (e) {
                    this.$.putSetting.url = "/api/discord/guild/@Model/textChannel/" + e.model.item.id + "/active";
                    this.$.putSetting.generateRequest();
                },
                _onUpdate: function () {
                    this._showToast("Setting updated");
                },
                _onDelete: function () {
                    this._showToast("Setting deleted");
                },
                _onError: function (e) {
                    this._showToast("ERROR: " + e.detail.request.xhr.response);
                },
                _showToast: function (message) {
                    this.$.toast.text = message;
                    this.$.toast.show();
                },
                ready: function () {
                }
            });
        })
    </script>
</dom-module>

<page-module></page-module>

